@model SistDist.Models.AnimalModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AnimalModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="data_cadastro" class="control-label"></label>
                <input asp-for="data_cadastro" class="form-control" />
                <span asp-validation-for="data_cadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="especie" class="control-label"></label>
                <input asp-for="especie" class="form-control" />
                <span asp-validation-for="especie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="raca" class="control-label"></label>
                <input asp-for="raca" class="form-control" />
                <span asp-validation-for="raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sexo" class="control-label"></label>
                <input asp-for="sexo" class="form-control" />
                <span asp-validation-for="sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cor" class="control-label"></label>
                <input asp-for="cor" class="form-control" />
                <span asp-validation-for="cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_nascimento" class="control-label"></label>
                <input asp-for="data_nascimento" class="form-control" />
                <span asp-validation-for="data_nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="peso" class="control-label"></label>
                <input asp-for="peso" class="form-control" />
                <span asp-validation-for="peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="alergia" class="control-label"></label>
                <input asp-for="alergia" class="form-control" />
                <span asp-validation-for="alergia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tutor_id" class="control-label"></label>
                <input asp-for="tutor_id" class="form-control" />
                <span asp-validation-for="tutor_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
